/evaluate_result
/optimize_full_corner
*.sqlite
/evaluate_full_corner
/evaluate
/chipify/out
/gds/backups
/chipify/tb/simulations
/chipify/tb/simulations
/gds/drc_run_TOP
/gds/drc_run_TOP
/gds/drc_run_TOP
/gds/drc_run_TOP
/gds/drc_run_TOP
